{% extends 'base.html' %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<div class="container">
    <div class="col-md-12 order-md-1">
        <h1 class="">Log in</h1>
        <form class="needs-validation" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
          <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                      Your username is required.
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 mb-3">
                  <label for="password">Password</label>
                  <input class="form-control" id="password" name="password" placeholder="Enter password" type="password" required>
              </div>
          </div>
            <button type="submit" class="btn btn-outline-primary">Log In!</button>
      </form>
    </div>
</div>
    {% endblock %}